.menu__title__container {
    color: #FFF;
}

.menu__title__container > h1 {
    margin: 15px 0;
    font-size: 17rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.menu__title__container > hr {
    margin: 5px 0;
}