.container__small-card {
    width: 700px;
}

.container__small-card-content {
    display: flex;
    flex-direction: row;
}

.small-card__photo > img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card__title > h1 {
    font-size: 2rem;
    margin: 10px 0;
    padding: 0 10px;
}

.container__smal-card-separator > hr {
    margin: 10px 0;
}

/* Responsive */
@media screen and (max-width:767px) {
    .container__small-card {
        width: auto;
        margin: 0 15px;
    }

    .container__small-card-content {
        flex-direction: column;
    }

    .small-card__photo {
        text-align: center;
    }

    .small-card__title > h1 {
        font-size: 1rem;
    }
}